<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Tienda</h3>
      <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar producto">
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>PRODUCTO</th>
            <th>PRECIO</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of filteredProductos">
            <td>{{ producto.id }}</td>
            <td>{{ producto.producto }}</td>
            <td>{{ producto.precio }}</td>
            <td>
              <button class="btn btn-primary" (click)="agregarProducto(producto)">Agregar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
