
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img class="logo-principal"
    src="https://exitocol.vtexassets.com/assets/vtex.file-manager-graphql/images/d34d990a-6e51-438f-b163-438438a97a6e___50dc4199e8020554de79a91123175966.svg"
  />
  <span class="Bienvenido">Bienvenido</span>

</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="Container-menu">
  <button (click)="Listar()" class="btn btn-info">CARRITO DE COMPRAS</button>
  <button (click)="Nuevo()" class="btn btn-info">AGREGAR</button>






  </div>

  <!-- Resources -->

</div>



<router-outlet></router-outlet>
