
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img class="logo-principal"
    src="https://th.bing.com/th/id/OIP.KXFMdp0j-T19eLtZbCag8wHaHa?pid=ImgDet&rs=1"
  />
  <span class="Bienvenido">Bienvenido a tu barrio</span>

</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="Container-menu">
  <button (click)="Listar()" class="btn btn-info carrito">CARRITO DE COMPRAS</button>
  <button (click)="Nuevo()" class="btn btn-info agregar">AGREGAR</button>
  <button (click)="Editar()" class="btn btn-info pagar">PAGAR</button>
  </div>

  <!-- Resources -->

</div>



<router-outlet></router-outlet>
<div class="footer">
  <div class="footer-container">
    <div class="social-icons">
      <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <p>&copy; 2023 Mi Sitio Web. Todos los derechos reservados.</p>
  </div>
</div>
